<!DOCTYPE html>
<html lang="en">
<body>
  plain html
  <div>
	  <ul> 
      {{#each object}} 
        {{#if_eq completed true}}
        <li>
          <strike>{{name}}</strike>
        </li>
        {{else}}        
        <li>
          {{name}}
        </li> 
        {{/if_eq}}
      {{/each}} 
    </ul>
  </div>
</body>
</html>