<div>
    {{#if_eq user "Not Logged In. Please login"}}
	    <h1>{{user}}</h1>
        {{else}}
        <h1>You are logged in as {{user}}</h1>
    {{/if_eq}}
</div>
<div>
    {{#if_eq user "Not Logged In. Please login"}}
        {{else}}
            <a href="/todos">Todos</a>
    {{/if_eq}}
</div>