<!DOCTYPE html>
<html>
  <body>
    <div>
      <a href="/">Home</a>
    </div>
    <div>
      <a href="/login">Login</a>
    </div>
    <div>
        <a href="/signup">Signup</a>
    </div>
     <div>
        <a href="/auth/logout">Logout</a>
    </div>
    {{{body}}}
  </body>
</html>