<!DOCTYPE html>
<html lang="en">
<body>
  <div>
    <form method="POST" action="/users">
        <input type="text" name="username" placeholder="Please enter new a username"/>
        <input type="submit" />
    </form>
  </div>
</body>
</html>