<div>
	{{#each todos as |todo|}}
		<div>
			<li>
			Todo: {{todo.content}}
				<ul>
				<li>
					completed : {{todo.completed}}
				</li>
				</ul>
			</li>
		</div>
		<div>
			<p>Select the completion status of the todo</p>
			<form action="/todos/{{todo.id}}/update/" method="POST">
				<div>
					<select name="completed">
						{{!-- <option disabled selected value>Select an Option </option> --}}
						<option value="Done">Done</option>
						<option value="Not Done">Not Done</option>
					</select>
				</div>
				<button type="submit">Change Status</button>
			</form>
		</div>
		<br/>
		<div>
			<form action="/todos/{{todo.id}}/delete/" method="GET">
				<input type="submit" value="Delete Todo" />
			</form>
		</div>
	{{/each}}
	
</div>

<div style="margin-top:20px;">
	<h2>Create Todo Item</h2>
	<form action="/todos/" method="POST">
		<div class="form-group">
			<input type="text" class="form-control" name="content" placeholder="Enter a todo">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>